body {
    font-family: 'Abhaya Libre', serif;    
    background-color: white;    
	display: grid;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

div {
	width: 40rem;
	height: 22rem;
    box-shadow: 5px 3px 30px rgba(0, 0, 0, .2);	
	border-radius: 5px;
	position: relative;
	z-index: 1;
	background-image: linear-gradient(315deg, #9fd2fb 0%, #cbe7fc 74%);
    overflow: hidden;
    text-align: center;
}

div:before {
	content: "";
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
	filter: blur(20px);
	margin: -20px;
}

h1{
    color : #2350ce;
	font-size: 2.5em;
	text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}

h2{
    margin-top: 5%;
    color: #ba77cc;
}

.fas{
	margin: 2% auto;
	color: #508c9f;
	position: fixed;
	left: 49%;
	top: 57%;
}

.fas:hover {
	color: #2350ce;
}

hr { 
	display: block;
	margin: 0.5em auto;
	border-style: inset;
	border-width: 1px;
	width: 50%;
  } 
